body
{
	background-color:black;
	font-family: "Yu Gothic Light", sans-serif;
}

.header {
	padding: 25px;
	text-align: center;
}

.content {
	padding: 25px;
	text-align: center;
}

.content a {	
	color: white;
	text-decoration: none;
}

.content a:hover {
	text-decoration: underline;
}

.content a:active {
	color: DarkGray;
	text-decoration: underline;
}

.navi {
	overflow: hidden;
	text-align:center;
}

.navi a {
    display:inline-block;	
	color: white;
	padding: 14px 16px;
	text-decoration: none;
}

.navi a:hover {
	text-decoration: underline;
}

.navi a:active {
	color: DarkGray;
	text-decoration: underline;
}

.footer
{
	text-align:center;
	font-size:12px;
	padding: 20px;
}

h1
{
	font-size:28px;
	color:white;
}

h2
{
	font-size:20px;
	color:white;
}

p
{
	font-size:16px;
	color:white;
}
			
#sketch-holder {
	width:500px;
	margin:0 auto;
}

button { 
	background-color: transparent; 
	color: white;
	border: none; 
	cursor: pointer; 
	outline: none; 
	padding: 0; 
	appearance: none; 
}

#Audio-Control {
	overflow: hidden; 
	margin:0 auto;
} 

#Audio-Control button { 
	border: 1px solid white; 
	width: 40px; 
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease; 
	-o-transition: all 0.2s ease; 
	transition: all 0.2s ease; 
} 

#Audio-Control button.on { 
	border-left: none;
}

#Audio-Control button.off {
	border-right: none; 
}

#Audio-Control button.active { 
	background: white;
	color: black;
} 

#Audio-Control button:not(.active):hover { 
	background: #ccc; 
}
